body {
    margin: 0;
    font-family: poppins;
    background-color: rgb(0, 0, 0);
}

.nav1 {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #000000;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    /* background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.nav2 {
    display: flex;
    column-gap: 3%;
}

.nav3 h3 {
    color: #8B8E99;
    display: flex;
    align-items: center;
    margin-left: 10%;
    font-size: 20px;
    font-weight: 400;
}

.nav3 ul {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.nav3 li {
    display: flex;
    list-style-type: none;
    padding-left: 8%;
    padding-top: 7px;
    text-align: center;
}

.nav3 a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.8;
}

.nav3 a:hover{
    opacity: 1;
}

.nav3 {
    width: 100%;
}

.nav6{
    width: 50%;
}


.nav5{
    display: flex;
    align-items: center;
    column-gap: 5%;
}

.nav5 i{
    margin-left: 7%;
}

.nav5 p{
    font-size: 25px;
    font-weight: 600;
    margin-left: 10%;
}