.home1{
    width: 100%;
    background: #000000;
    padding: 5% 0 5% 0;
}

.home2{
    width: 80%;
    margin: auto;
}

.home3{
    width: 60%;
    margin: auto;
    border: 1px solid black;
    justify-content: center;
    text-align: center;
}

.home3 h1{
    color:white;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1%;
    margin-top: 0;
    font-size: 40px;
}

.home3 p{
    color: white;
    text-align: center;
    margin-top: 0;
    font-size: 17px;
}

.home3 button {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 20%;
    padding: 7px;
    border: none;
    font-family: poppins;
    font-size: 15px;
    color: black;
    border-radius: 50px;
}

.home4{
    width: 100%;
    text-align: center;
    margin-top: 3%;
}

.home4 h1{
    color:white;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1%;
    margin-top: 0;
    font-size: 35px;
}

.home5{
    width: 70%;
    height: 400px;
    background-color: rgb(23,23,23);
    margin: auto;
    margin-top: 5%;
    display: flex;
    margin-bottom: 5%;
}

.home6{
    width: 50%;
    margin: auto;
}

.home6 h2{
    font-weight: 500;
    font-size: 25px;
}

.home6 p{
    font-weight: 300;
    font-size: 15px;
    margin-top: 2%;
}

.home6 button{
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 40%;
    padding: 7px;
    border: none;
    font-family: poppins;
    font-size: 15px;
    color: black;
    border-radius: 50px;
    margin-top: 3%;
}

.home7{
    width: 40%;
}